<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <!-- To resolve through a repository manager, with its credentials from the container's environment:
    <mirrors>
        <mirror>
            <id>internal</id>
            <mirrorOf>*</mirrorOf>
            <url>https://repo.example.com/maven2</url>
        </mirror>
    </mirrors>
    <servers>
        <server>
            <id>internal</id>
            <username>${env.MAVEN_MIRROR_USERNAME}</username>
            <password>${env.MAVEN_MIRROR_PASSWORD}</password>
        </server>
    </servers>
    -->
</settings>
